:root {
    /* Colours */
    --green: #03432B;
    --white: #FCF3D6;
    --brown: #42271D;
}

/*
The following code was obtained from https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-html and has been modified.
*/


/* Location styles in unhighlighted state. */
.location {
    align-items: center;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
}

.location::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid var(--green);
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
}

.location .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--white);
}

.location .icon svg {
    height: 20px;
    width: auto;
}

.location .details {
    display: none;
    flex-direction: column;
    flex: 1;
    color: var(--brown);
    margin-top: 5px;
    margin-bottom: 5px;
}

.location .address {
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Location styles in highlighted state. */
.location.highlight {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 100px;
    padding: 8px 15px;
    width: auto;
}

.location.highlight::after {
    border-top: 9px solid var(--white);
}

.location.highlight .details {
    display: flex;
}

.location.highlight .name {
    font-size: 16px;
    font-weight: bold;
}

.location.highlight .icon svg {
    width: 50px;
    height: 50px;
    color: var(--green);
}