/*---------- Local Font Import ----------*/

@font-face {
    font-family: 'DragonHunter';
    src: url('../fonts/dragonhunter.otf') format('opentype');
}

/*---------- Fonts ----------*/

body {
    font-family: 'Charm', sans-serif;
}

h1,
h2 {
    font-family: 'DragonHunter', sans-serif;
    font-size: 2.5rem;
}

#hero-title {
    margin: 20px 30px 0;
}

.section-title {
    margin: 0;
}

.section-text {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/*---------- Navbar ----------*/

nav {
    background-color: #961E28;
}

nav .brand-logo {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: max-content;
    color: #FCF3D6;
    font-family: 'DragonHunter', sans-serif;
}

.logo {
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul a {
    color: #FCF3D6;
    font-size: 1.6rem;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*---------- Side Nav ----------*/

.sidenav {
    background-color: transparent;
    background: url(../images/banner.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.sidenav li {
    margin: 0 62px 0 23px;
}

.sidenav li:first-child {
    margin-top: 25px;
}

.sidenav li>a {
    color: #FCF3D6;
    font-size: 20px;
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.button-collapse {
    display: flex;
    align-items: center;
}

#burger-menu {
    color: #FCF3D6;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*---------- Hero Section ----------*/

.hero-container {
    background: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(150, 30, 40, 0.75);
    max-width: 400px;
    color: #FCF3D6;
}

#hero-text {
    font-size: 2rem;
    margin: 0 30px 20px;
}

/*---------- Heading Section ----------*/

.heading-container {
    background-color: #961E28;
    background-image: url(../images/title-bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    color: #42271D;
    height: 250px;
    position: relative;
    text-align: center;
}

.heading-container h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    margin: 0;
    width: 100%;
    -webkit-filter: drop-shadow(1px 1px 0 #FCF3D6) drop-shadow(-1px -1px 0 #FCF3D6);
    filter: drop-shadow(1px 1px 0 #FCF3D6) drop-shadow(-1px -1px 0 #FCF3D6);
}

/*---------- About Section ----------*/

.dark-green-bg {
    background-color: #03432B;
    color: #FCF3D6;
}

.about-content {
    padding: 50px 25%;
    text-align: center;
}

/*---------- Locations Section ----------*/

.light-green-bg {
    background-color: #8EC5A2;
    color: #59060D;
}

.locations-content {
    padding: 50px 15%;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 21px;
}

/*---------- Gallery Section ----------*/

.gallery-content {
    padding: 50px 25%;
    text-align: center;
}

.carousel {
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    max-height: 75vh;
    width: auto;
    margin-top: 21px;
}


/*---------- Create Event ----------*/

.red-bg {
    background-color: #961E28;
    padding: 21px 0;
}

.form-container {
    background-color: #FCF3D6;
    width: 75%;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px 25px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*---------- Form Labels & Inputs ----------*/

/* Labels for form inputs */
.input-field>label {
    color: #764330;
    font-size: 1.25rem;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

/* Labels for form inputs when active */
.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
}

/* Form inputs */
input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default),
textarea.materialize-textarea {
    color: #42271D;
    font-family: 'Charm', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid #764330;
}

/* Form input box when active */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #03432B;
    -webkit-box-shadow: 0 1px 0 0 #03432B;
    box-shadow: 0 1px 0 0 #03432B;
}

/* Form label when active */
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #03432B;
}

/* Helper text for form inputs */
.input-field .helper-text {
    display: inline-block;
    font-size: 1rem;
    color: #764330;
}

/* Invalid form entry helper text */
input[type=text]:not(.browser-default).invalid~.helper-text:after,
input[type=text]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=number]:not(.browser-default).invalid~.helper-text:after,
input[type=number]:not(.browser-default):focus.invalid~.helper-text:after,
textarea.materialize-textarea.invalid~.helper-text:after,
textarea.materialize-textarea:focus.invalid~.helper-text:after {
    width: max-content;
}

/* Remove number input arrows across multiple browsers */
/* Credit W3 School - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*---------- Dropdown Table ----------*/

/* Dropdown table background */
.dropdown-content,
.datepicker-calendar-container {
    background-color: #FCF3D6;
}

/* Dropdown table options */
.dropdown-content li>a,
.dropdown-content li>span {
    color: #42271D;
    font-size: 1.5rem;
}

/* Dropdown table & datepicker heading */
.select-dropdown li.disabled>span,
.datepicker-date-display,
.datepicker-date-display .year-text {
    color: #FCF3D6;
    background-color: #42271D;
}

/*---------- Datepicker ----------*/

/* Datepicker table font */
.datepicker-table,
.datepicker-day-button {
    font-family: 'Charm', sans-serif;
    font-size: 1.5rem;
}

/* Datepicker table font colour */
.datepicker-table {
    color: #42271D;
}

/* Datepicker date when selected */
.datepicker-table td.is-selected {
    background-color: #03432B;
    color: #FCF3D6;
}

/* Datepicker weekday font colour */
.datepicker-table abbr {
    color: #764330;
}

/* Datepicker todays date colour */
.datepicker-table td.is-today {
    color: #961E28;
}

/* Datepicker todays date selected colour */
.datepicker-table td.is-today.is-selected {
    color: #FCF3D6;
}

/* Datepicker 'cancel' and 'ok' font  */
.datepicker-cancel,
.datepicker-done {
    font-family: 'Charm', sans-serif;
    font-size: 1.5rem;
}

/* Datepicker 'ok' font colour */
.datepicker-done {
    color: #03432B;
}

/* Datepicker 'cancel' font colour */
.datepicker-cancel {
    color: #961E28;
}

/* Datepicker month display width*/
.datepicker-controls .select-month input {
    width: 90px;
}

/*---------- Radio Buttons ----------*/

.radio-container {
    margin-bottom: 0;
}

/* Text for radio buttons */
[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    padding-left: 25px;
    font-size: 1.25rem;
    color: #764330;
}

/* Radio button unchecked border colour */
[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid #764330;
}

/* Radio button checked circle colour */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #03432B;
}

/* Radio button checked border colour */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #03432B;
}

.stamp {
    margin-top: 10px;
    cursor: pointer;
}

/*---------- Popover ----------*/

/* Popover styling modified from https://codepen.io/mihaeltomic/pen/PqxVaq */

.popover-trigger {
    height: 35px;
    width: auto;
    margin-top: 10px;
}

.popover-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.popover-heading {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 0;
    font-weight: 700;
}

.beginner-heading {
    color: #FCF3D6;
    background-color: #03432B;
}

.everyone-heading {
    color: #42271D;
    background-color: #EBC53F;
}

.experienced-heading {
    color: #FCF3D6;
    background-color: #961E28;
}

.popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 75px;
    transform: translate(0, 10px);
    background-color: #FCF3D6;
    color: #42271D;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 200px;
    text-align: center;
}

.popover-content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    transition-duration: 0.3s;
    transition-property: transform;
}

.beginner-content:before {
    border-color: transparent transparent #03432B transparent;
}

.everyone-content:before {
    border-color: transparent transparent #EBC53F transparent;
}

.experienced-content:before {
    border-color: transparent transparent #961E28 transparent;
}

.popover-wrapper:hover .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover-message {
    margin: 10px;
}

/*---------- Footer ----------*/

footer {
    background: #FCF3D6;
    height: 200px;
    position: relative;
}

footer p {
    position: absolute;
    color: #961E28;
    bottom: -10px;
    left: 10px;
}

.footer-container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.footer-icon {
    height: 65px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.grow {
    transform: scale(1.2);
}