/*---------- FONTS ----------*/

@font-face {
    font-family: 'DragonHunter';
    src: url('../fonts/dragonhunter.otf') format('opentype');
}

body {
    font-family: 'Charm', sans-serif;
    color: #FCF3D6;
}

h1 {
    font-family: 'DragonHunter', sans-serif;
    color: #FCF3D6;
    font-size: 2.1rem;
}

/*---------- Navbar ----------*/

nav {
    background-color: #961E28;
}

nav .brand-logo {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: max-content;
    color: #FCF3D6;
    font-family: 'DragonHunter', sans-serif;
}

.logo {
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul a {
    color: #FCF3D6;
    font-size: 1.6rem;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*---------- Side Nav ----------*/

.side-nav {
    background-color: transparent;
    background: url(../images/banner.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.side-nav li {
    margin: 0 62px 0 23px;
}

.side-nav li:first-child {
    margin-top: 25px;
}

.side-nav li>a {
    color: #FCF3D6;
    font-size: 20px;
}

.side-nav li>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.button-collapse {
    color: #FCF3D6;
}