{% extends "base.html" %}

{% block nav_colour %}
    <nav class="red-bg">
{% endblock %}

{% block logo %}
    <img class="logo" src="{{ url_for('static', filename='images/logo.webp') }}"
        alt="A wooden shield with paper nailed to the center. A green letter Q is painted on the paper">
{% endblock %}

{% block sidenav_colour %}
    <ul class="sidenav red-sidenav" id="mobile-demo">
{% endblock %}

{% block content %}
    <section class="section-container green-bg">
        <div class="error-content">
            <h1>403 Error:<br>Forbidden</h1>
            <img class="error-image" src="{{ url_for('static', filename='images/red-dice.webp') }}"
                alt="A red D20 dice picturing a one">
            <p class="error-text">Hold, traveler! You stand at the threshold of forbidden knowledge, guarded by
                ancient wards and mystical enchantments.<br>Only those who possess the proper credentials may pass
                beyond this point.</p>
            <div class=" button-container">
                <a href="{{ url_for('home') }}" class="event-button home">RETURN HOME</a>
            </div>
        </div>
    </section>
{% endblock %}