{% extends "base.html" %}
{% block content %}
<!-- HEADING SECTION -->
<section>
    <div class="heading-container">
        <h1>Create Event</h1>
    </div>
</section>

<!-- CREATE EVENT FORM -->
<section>
    <div class="red-bg">
        <div class="row form-container">
            <form class="col s12">
                <div class="row">
                    <!-- Event Name Input -->
                    <div class="input-field col s12">
                        <input id="event_name" type="text" class="validate" data-length="30">
                        <label for="event_name">Event Name</label>
                        <span class="helper-text" data-error="Too many characters"></span>
                    </div>
                </div>
                <div class="row">
                    <!-- Dropbox - Select Location -->
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Select Location</option>
                            <option value="1">Swansea</option>
                            <option value="2">Bridgend</option>
                            <option value="3">Cardiff</option>
                            <option value="4">Newport</option>
                        </select>
                        <label>Location</label>
                    </div>
                    <!-- Dropbox - Select Time -->
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Select Time</option>
                            <option value="1">10am</option>
                            <option value="2">12pm</option>
                            <option value="3">2pm</option>
                            <option value="4">4pm</option>
                        </select>
                        <label>Time</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Datepicker -->
                    <div class="input-field col s6">
                        <input id="date" type="text" class="datepicker">
                        <label for="date">Date</label>
                    </div>
                    <!-- Party Size Input -->
                    <div class="input-field col s6">
                        <input id="party_size" type="number" class="validate" min="1" max="10" step="1">
                        <label for="party_size">Max Party Size</label>
                        <span class="helper-text" data-error="Max 10">Between 1-10</span>
                    </div>
                </div>
                <div class="row">
                    <!-- Description Textarea -->
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea" data-length="250"></textarea>
                        <label for="description">Description</label>
                        <span class="helper-text" data-error="Too many characters"></span>
                    </div>
                </div>
                <div class="row">
                    <!-- Radio Button - Beginner -->
                    <div class="col s4">
                        <p class="radio-container">
                            <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>Beginner</span>
                                <img class="responsive-img stamp" img src="{{ url_for('static', filename='images/seal-green.png') }}" alt="A green wax seal with a D20 symbol" />
                            </label>
                        </p>
                    </div>
                    <!-- Radio Button - Everyone -->
                    <div class="col s4">
                        <p class="radio-container">
                            <label>
                                <input class="with-gap" name="group3" type="radio" />
                                <span>Everyone</span>
                                <img class="responsive-img stamp" img src="{{ url_for('static', filename='images/seal-yellow.png') }}" alt="A yellow wax seal with a D20 symbol" />
                            </label>
                        </p>
                    </div>
                    <div class="col s4">
                        <!-- Radio Button - Experienced -->
                        <p class="radio-container">
                            <label>
                                <input class="with-gap" name="group3" type="radio" />
                                <span>Experienced</span>
                                <img class="responsive-img stamp" img src="{{ url_for('static', filename='images/seal-red.png') }}" alt="A red wax seal with a D20 symbol" />
                            </label>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}