{% extends "base.html" %}
{% block content %}
<!-- HEADING SECTION -->
<section>
    <div class="heading-container">
        <h1>Create Event</h1>
    </div>
</section>

<!-- CREATE EVENT FORM -->
<section>
    <div class="red-bg">
        <div class="row form-container">
            <form class="col s12">
                <div class="row">
                    <!-- Event Name Input -->
                    <div class="input-field col s12">
                        <input id="event_name" type="text" class="validate" data-length="30">
                        <label for="event_name">Event Name</label>
                        <span class="helper-text" data-error="Too many characters"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}