{% extends "base.html" %}
{% block content %}
<!-- HEADING SECTION -->
<section>
    <div class="heading-container green-bg">
        <h1>Events</h1>
    </div>
</section>

<!-- EVENTS -->
<section>
    <div class="green-bg padding">
        <!-- Filter -->
        <ul class="collapsible">
            <li>
                <div class="collapsible-header green-bg">Filter<i class="fa-solid fa-sort-down"></i></div>
                <div class="collapsible-body green-bg">
                    <div class="flex-container">
                        <!-- Location options -->
                        <div class="filter-category">
                            <div class="category-heading">
                                <p>Location</p>
                            </div>
                            <div class="filter-option-1">
                                <label for="cardiff">
                                    <input type="checkbox" id="cardiff" />
                                    <span>Cardiff</span>
                                </label>
                            </div>
                            <div class="filter-option-2">
                                <label for="newport">
                                    <input type="checkbox" id="newport" />
                                    <span>Newport</span>
                                </label>
                            </div>
                            <div class="filter-option-3">
                                <label for="swansea">
                                    <input type="checkbox" id="swansea" />
                                    <span>Swansea</span>
                                </label>
                            </div>
                            <div class="filter-option-4">
                                <label for="bridgend">
                                    <input type="checkbox" id="bridgend" />
                                    <span>Bridgend</span>
                                </label>
                            </div>
                        </div>
                        <!-- Time options -->
                        <div class="filter-category">
                            <div class="category-heading">
                                <p>Time</p>
                            </div>
                            <div class="filter-option-1">
                                <label for="10am">
                                    <input type="checkbox" id="10am" />
                                    <span>10am</span>
                                </label>
                            </div>
                            <div class="filter-option-2">
                                <label for="12pm">
                                    <input type="checkbox" id="12pm" />
                                    <span>12pm</span>
                                </label>
                            </div>
                            <div class="filter-option-3">
                                <label for="2pm">
                                    <input type="checkbox" id="2pm" />
                                    <span>2pm</span>
                                </label>
                            </div>
                            <div class="filter-option-4">
                                <label for="4pm">
                                    <input type="checkbox" id="4pm" />
                                    <span>4pm</span>
                                </label>
                            </div>
                        </div>
                        <!-- Experience options -->
                        <div class="filter-category">
                            <div class="category-heading">
                                <p>Exp Level</p>
                            </div>
                            <div class="filter-option-1">
                                <label for="beginner">
                                    <input type="checkbox" id="beginner" />
                                    <span>Beginner</span>
                                </label>
                            </div>
                            <div class="filter-option-2">
                                <label for="everyone">
                                    <input type="checkbox" id="everyone" />
                                    <span>Everyone</span>
                                </label>
                            </div>
                            <div class="filter-option-3">
                                <label for="experienced">
                                    <input type="checkbox" id="experienced" />
                                    <span>Experienced</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Events Container -->
        <div class="event-container">
            <!-- Border Trim -->
            <div class="border" id="top"></div>
            <div class="border" id="left"></div>
            <div class="border" id="right"></div>
            <div class="border" id="bottom"></div>
            <!-- Border Corners -->
            <img src="{{ url_for('static', filename='images/metal-corner.png') }}" alt="A gold square corner plate" id="top-left" class="corner">
            <img src="{{ url_for('static', filename='images/metal-corner.png') }}" alt="A gold square corner plate" id="top-right" class="corner">
            <img src="{{ url_for('static', filename='images/metal-corner.png') }}" alt="A gold square corner plate" id="bottom-left" class="corner">
            <img src="{{ url_for('static', filename='images/metal-corner.png') }}" alt="A gold square corner plate" id="bottom-right" class="corner">
            <!-- Event Card -->
            <div class="event-card">
                <div class="event-card-header">
                    <h2 class="event-title">Event Name</h2>
                </div>
                <div class="event-section-1">
                    <p class="event-info">Created by:<br>Username</p>
                </div>
                <div class="event-section-2">
                    <i class="fa-solid fa-location-dot event-icon"></i>
                    <p class="event-info">Location</p>
                </div>
                <div class="event-section-3">
                    <i class="fa-regular fa-calendar event-icon"></i>
                    <p class="event-info">Date</p>
                </div>
                <div class="event-section-4">
                    <i class="fa-regular fa-clock event-icon"></i>
                    <p class="event-info">Time</p>
                </div>
                <div class="event-section-5">
                    <i class="fa-solid fa-people-group event-icon"></i>
                    <p class="event-info">3/8</p>
                </div>
                <div class="event-section-6">
                    <button>EDIT</button>
                    <button>DELETE</button>
                </div>
                <div class="event-section-7">
                    <img src="{{ url_for('static', filename='images/seal-red.png') }}" class="event-stamp"
                        alt="A wax seal with a D20 imprint">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}