{% extends "base.html" %}

{% block nav_colour %}
    <nav class="red-bg">
{% endblock %}

{% block logo %}
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"
        alt="A wooden shield with paper nailed to the center. A green letter Q is painted on the paper" />
{% endblock %}

{% block sidenav_colour %}
    <ul class="sidenav red-sidenav" id="mobile-demo">
{% endblock %}

{% block content %}
    <!-- HEADING SECTION -->
    <section>
        <div class="heading-container green-bg brown-font">
            <h1>{{ event.event_name }}</h1>
        </div>
    </section>

    <!-- EVENT -->
    <section>
        <div class="green-bg section-container">
            <div class="event-page brown-font">
                <div class="row">
                    <div class="col s12">
                        <h2 class="event-heading">Created By: {{ event.created_by.capitalize() }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 left-align">
                        <h3 class="event-subheading">The story...</h3>
                        <p class="event-content">{{ event.description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="col s6 m12">
                                <h3 class="event-subheading">When is it?</h3>
                                <p class="event-content">{{ event.date.strftime("%d %b, %Y") }}</p>
                            </div>
                            <div class="col s6 m12">
                                <h3 class="event-subheading">What time?</h3>
                                <p class="event-content">{{ event.time }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h3 class="event-subheading">Where is it?</h3>
                                {% if event.location == 'swansea' %}
                                    <p class="event-content">Checkmates<br>8 High St<br>Swansea<br>SA1 1LE</p>
                                    <p class="event-content"><i class="fa-solid fa-phone"></i> 01792 123 456<br><i class="fa-solid fa-clock"></i> Mon - Sun: 10am - 6pm</p>
                                {% elif event.location == 'bridgend' %}
                                    <p class="event-content">Dungeons & Dice<br>7 The Rhiw<br>Bridgend<br>CF31 3BL</p>
                                    <p class="event-content"><i class="fa-solid fa-phone"></i> 01656 123 456<br><i class="fa-solid fa-clock"></i> Mon - Sun: 10am - 6pm</p>
                                {% elif event.location == 'cardiff' %}
                                    <p class="event-content">Castle Games<br>45 Castle Arcade<br>Cardiff<br>CF10 1BW</p>
                                    <p class="event-content"><i class="fa-solid fa-phone"></i> 02921 123 456<br><i class="fa-solid fa-clock"></i> Mon - Sun: 10am - 6pm</p>
                                {% elif event.location == 'newport' %}
                                    <p class="event-content">Boarderlands<br>1 Austin Friars<br>Newport<br>NP20 1DQ</p>
                                    <p class="event-content"><i class="fa-solid fa-phone"></i> 01633 123 456<br><i class="fa-solid fa-clock"></i> Mon - Sun: 10am - 6pm</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <h3 class="event-subheading">Who's joining?</h3>
                        <ol>
                            {% for member in range(event.party_size) %}
                                {% if member < event.party_members|length %}
                                    <li class="party-member">{{ event.party_members[member].username.capitalize() }}</li>
                                {% else %}
                                    <li class="party-member"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="flex-div">
                    <div class="btn-container">
                        {% if event.created_by == session['user'] or session['user'] == 'admin' %}
                            <a href="{{ url_for('edit_event', event_id=event.id) }}" class="event-button edit">EDIT</a>
                            <!-- Modal Trigger -->
                            <a href="#modal-{{ event.id }}" class="event-button delete modal-trigger">DELETE</a>
                        {% elif session['user'] in event.party_members|map(attribute='username') %}
                            <form action="{{ url_for('leave_event', event_id=event.id) }}" method="post">
                                <input type="submit" class="event-button leave" value="LEAVE">
                            </form>
                        {% elif event.party_members|length == event.party_size and 
                            session['user'] not in event.party_members|map(attribute='username') %}
                            <img src="{{ url_for('static', filename='images/full.png') }}" class="full">
                        {% else %}
                            <form action="{{ url_for('join_event', event_id=event.id) }}" method="post">
                                <input type="submit" class="event-button join" value="JOIN">
                            </form>
                        {% endif %}
                    </div>
                    {% if event.exp_level == 'beginner' %}
                        <img src="{{ url_for('static', filename='images/seal-green.png') }}" class="page-stamp" alt="Beginner Seal">
                    {% elif event.exp_level == 'everyone' %}
                        <img src="{{ url_for('static', filename='images/seal-yellow.png') }}" class="page-stamp" alt="Everyone Seal">
                    {% elif event.exp_level == 'experienced' %}
                        <img src="{{ url_for('static', filename='images/seal-red.png') }}" class="page-stamp" alt="Experienced Seal">
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Modal - Delete Event -->
        <div id="modal-{{ event.id }}" class="modal delete-modal">
            <div class="modal-content">
                <h2 class="brown-font modal-heading">Delete {{ event.event_name }}</h2>
                <p class="brown-font modal-text">Are you sure you want to delete this event?<br>This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn green-btn">Cancel</a>
                <a href="{{ url_for('delete_event', event_id=event.id) }}" class="btn red-btn">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}