{% extends "base.html" %}
{% block content %}

<!-- HERO SECTION -->
<section>
    <div class="hero-container">
        <div class="hero-content">
            <h1 id="hero-title">Welcome to Quest Board</h1>
            <p id="hero-text">What Adventures Await You?</p>
        </div>
    </div>
</section>

<!-- ABOUT US SECTION -->
<section>
    <div class="dark-green-bg">
        <div class="about-content">
            <h2 class="section-title">Our Quest</h2>
            <p class="section-text">
                Welcome to Quest Board - the ultimate gathering hub for Dungeons & Dragons enthusiasts seeking their
                next adventure. Create and join events in your local area, hosted at our partner game stores across
                South Wales.
            </p>
            <p class="section-text">
                Whether you're a seasoned dungeon master or first-time player in search of a party, Quest Board has you
                covered. Sign up today and embark on a journey with fellow players. Your next epic adventure starts
                here!
            </p>
        </div>
    </div>
</section>

<!-- LOCATIONS SECTION -->
<section>
    <div class="light-green-bg">
        <div class="locations-content">
            <h2 class="section-title">Locations</h2>
            <div id="map"></div>
        </div>
    </div>
</section>

<!-- GALLERY SECTION -->
<section>
    <div class="dark-green-bg">
        <div class="gallery-content">
            <h2 class="section-title">Gallery</h2>
            <div class="carousel carousel-slider center">
                <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/gallery-1.jpeg') }}"></a>
                <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename='images/gallery-2.jpeg') }}"></a>
                <a class=" carousel-item" href="#three!"><img src="{{ url_for('static', filename='images/gallery-3.jpeg') }}"></a>
                <a class="carousel-item" href="#four!"><img src="{{ url_for('static', filename='images/gallery-4.jpeg') }}"></a>
                <a class="carousel-item" href="#five!"><img src="{{ url_for('static', filename='images/gallery-5.jpeg') }}"></a>
                <a class="carousel-item" href="#six!"><img src="{{ url_for('static', filename='images/gallery-6.jpeg') }}"></a>
                <a class="carousel-item" href="#seven!"><img src="{{ url_for('static', filename='images/gallery-7.jpeg') }}"></a>
                <a class="carousel-item" href="#eight!"><img src="{{ url_for('static', filename='images/gallery-8.jpeg') }}"></a>
                <a class="carousel-item" href="#nine!"><img src="{{ url_for('static', filename='images/gallery-9.jpeg') }}"></a>
                <a class="carousel-item" href="#ten!"><img src="{{ url_for('static', filename='images/gallery-10.jpeg') }}"></a>
            </div>
        </div>
    </div>
</section>

{% endblock %}