{% extends "base.html" %}
{% block content %}

<!-- HERO SECTION -->
<section>
    <div class="hero-container">
        <div class="hero-content">
            <h1 id="hero-title">Welcome to Quest Board</h1>
            <p id="hero-text">What Adventures Await You?</p>
        </div>
    </div>
</section>

<!-- ABOUT US SECTION -->
<section>
    <div class="dark-green-bg">
        <div class="about-content">
            <h2 class="section-title">Our Quest</h2>
            <p class="section-text">
                Welcome to Quest Board - the ultimate gathering hub for Dungeons & Dragons enthusiasts seeking their
                next adventure. Create and join events in your local area, hosted at our partner game stores across
                South Wales.
            </p>
            <p class="section-text">
                Whether you're a seasoned dungeon master or first-time player in search of a party, Quest Board has you
                covered. Sign up today and embark on a journey with fellow players. Your next epic adventure starts
                here!
            </p>
        </div>
    </div>
</section>

{% endblock %}