{% extends "base.html" %}
{% block content %}
<!-- HEADING SECTION -->
<section>
    <div class="heading-container red-bg brown-font">
        <h1>Log In</h1>
    </div>
</section>

<!-- LOGIN FORM -->
<section>
    <div class="red-bg section-container">
        <div class="form-container white-bg">
            <form method="POST" action="{{ url_for('log_in') }}">
                <div class="row">
                    <!-- Username Input -->
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="username" name="username" type="text" class="validate" data-length="15" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="Invalid entry">Please enter 5-15 characters</span>
                    </div>
                </div>
                <div class="row">
                    <!-- Password Input -->
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="password" name="password" type="password" class="validate" data-length="15" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Invalid entry">Please enter 5-15 characters</span>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit Button -->
                    <div class="col s12 center-align">
                        <button class="event-button sign-up" type="submit" name="action">LOG IN
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Login Link -->
                    <div class="col s12 center-align">
                        <p class=" brown-font sign-up-text">Don't have an account?</p>
                        <a class="sign-up-text" href="{{ url_for('sign_up') }}">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}